* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html, body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

#calculator-wrapper {
    width: 300px;
    margin: 200px auto;
    padding: 20px 20px 10px;
    background: #28a;
    border-radius: 10px;
}

#header #screen {
    height: 40px;
    width: 190px;
    float: left;
    padding: 0 10px;
    background: rgba(0,0,0,0.3);
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#header, #main {
    overflow: hidden;
}

hr {
    border: 1px solid #fefefe;
    width: 255px;
}

#main {
    margin-top: 20px;
}

#header button, #main button {
    float: left;
    top: 0;
    cursor: pointer;
    width: 58px;
    height: 40px;
    background: white;
    border: 0px;
    border-radius: 5px;
    margin: 0px 7px 11px 0px;
    color: #333;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}


#clear {
    background: #eee !important;
    border: 1px solid rgba(0,0,0,0.5) !important;
}
.action {
    background: orange !important;
    color: white !important;
}
#sum {
    background: skyblue !important;
}